/* AUTHOR: FAKUNLE MOBOLAJI JOHNSON*/

body {
	width: 80%; margin: auto; line-height: 1.4em;
	background: #111; color: #030431; padding: 10px;
	font-family: Helvetica
}

* { box-sizing: border-box; }

/* Info bar styling */
.infobar {
	font-size: 30px; text-align: center;
	padding: 25px; 
	background: maroon; color: aliceblue;
}

/* Display selection bar styling */
.selectBar {
	padding: 12px; background: yellow; color: black;
}

/* Display Fellows */
.fellows {
	display: grid;
	grid-template-columns: 100px auto;
	column-gap: 10px;
	background: #fff; color:#030431; 
	margin: 5px 0; padding: 5px;
	
}

/* Add styles to the fellows img */
.fellowsImg img  {
	border-radius: 50%;
	height: 98px;
	width: 98px;
}

.fellowsContent {
	padding: 4px;	
}

/* make fellows background color alternate*/
.fellows:nth-child(even) {
	background-color: maroon; color: #fff;
}

.red { background: red; }

.yellow { background: yellow; color: black;}

/* Add styles to the button */
button {
  margin: auto; padding:  10px; cursor: pointer;
  border-radius: 5px; color: aliceblue;
  text-align: center; border: none;
}

button:hover {
  background: darkorange; color: black;
}

/* Button used to open the form - fixed at the bottom of the page */
.open-button {
  background: yellow; color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.open-button:hover {
  background-color: darkorange;
  color: black;
}
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* Styles the select */
.form-container select {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.form-container .btn {
  background-color:yellow;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  background-color: darkorange;
  color: black;
}